
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
  color: rgb(51, 71, 91);
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: calc(95% / 3);
}

.w-25{
  width: calc(100% / 4);
}

a{
  text-decoration: none;
}


.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 10px;
}


/* fixed navbar */
.fixnav{
  position: fixed;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(189, 206, 223);
  z-index: 9999;
}

.fixnav-box{
  width: 80%;
  height: 50px;
  margin: auto;
  padding: 20px;
}

.nav-box1{
  height: 40px;
  line-height: 40px;
}

.nav-box2{
  padding-left: 331px;
}

.grp-thing{
  display: inline-block;
}

.english.grp-thing{
  padding-right: 15px;
  border-right: 1px solid rgb(51, 71, 91);
}

.cntc-us.grp-thing{
  padding-left: 15px;
}

.lens.grp-thing{
  color: rgb(17, 166, 191);
}

.btn.white-btn{
  background-color: white;
  color: rgb(254, 120, 90);
  border: 1px solid rgb(254, 120, 90);
  margin-left: 20px;
}

.btn.orange-btn{
  background-color: rgb(254, 120, 90);
  color: white;
  margin-left: 20px;
}


/* parte col menù */
.menu-hub{
  height: 185px;
  width: 100%;
  padding-top: 100px;
}

.menuhub-box{
  padding-top: 20px;
  width: 80%;
  height: 85px;
  margin: auto;
}

.list-hub{
  text-align: center;
}

.list-hub li{
  list-style: none;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

/* la parte del jumbotron */
.jumbotron{
  position: relative;
  height: 570px;
  background-image: url(../img/jumbotron.png);
  background-color: rgb(255, 244, 239);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.jumbo-box{
  width: 80%;
  height: 470px;
  margin: auto;
}

.jumbotron-txt.w-50{
  padding-right: 100px;
}

.jumbotron-txt{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-txt h1{
  font-size: 3.5em;
  padding-bottom: 30px;
}

.jumbotron-txt p{
  font-size: 1em;
  padding-bottom: 30px;
}


.btn.btn.orange-btn.big{
  margin-left: 0;
  margin-bottom: 30px;
}

.green-box{
  position: absolute;
  margin-top: 40px;
  height: 60px;
  width: 100%;
  border-top: 2px solid rgb(89, 131, 142);
  border-bottom: 2px solid rgb(89, 131, 142);
  background-color: rgb(156, 220, 216);
  overflow: hidden;
}

/* parte col cubo */
.grey-cube{
  background-color: rgb(244, 249, 253);
}

.box-cubo{
  height: 270px;
}

.box-cubo .cubo{
  width: 80%;
  margin: auto;
  text-align: center;
}

.cubo .cubo-txt{
  width: 73%;
  margin: auto;
}

.cubo img{
  height: 150px;
  margin-top: 50px;
}

.grey-cube .free-crm{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 270px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px black;
}

.crm-book{
  width: 30%;
  height: 150px;
}

.crm-book img{
  height: 150px;
  width: 150px;
  line-height: 150px;
  display: block;
}

.crm-txt {
  width: 70%;
  margin-top: 50px;
}

.crm-txt h1{
  margin-bottom: 20px;
}

.crm-txt p{
  margin-bottom: 20px;
}

.pop-list ul{
  list-style: none;
  display: inline-block;
}

.pop-list li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
}

.fas.fa-check-circle{
  color: rgb(254, 120, 90);
  padding-left: 5px;
  padding-right: 5px;
}

.box-threesec{
  height: 650px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 50px;
}

.first, .third{
  background-color: white;
  height: 600px;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px black;
}

.sec{
  height: 600px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px black;
}

.box-threesec img{
  height: 120px;
  display: block;
  margin: 20px auto;
}

.box-threesec h1{
  text-align: center;
  margin-bottom: 30px;
}

.box-threesec p{
  padding: 0 50px;
  text-align: center;
  margin-bottom: 40px;
}

.box-threesec hr{
  width: 70%;
  margin: 0 auto;
  height: 2px;
}

.mini-box2{
  position: relative;
}

.mini-box2 h3{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.mini-box2 ul{
  list-style: none;
  margin-left: 50px;
  margin-bottom: 30px;
}

.mini-box2 .btn.orange-btn{
  position: absolute;
  left: 50%;
  transform: translateX(-65%);
  padding: 15px;
}

.gridbox{
  height: 700px;
  background-color: rgb(0, 173, 181);
  background-image: linear-gradient(to right, rgb(0, 173, 181), rgb(0, 187, 166));
}

.grid-title{
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: 270px;
  color: white;
  text-align: center;
}

.grid-title h2{
  font-size: 35px;
  margin-bottom: 20px;
}

.grid-title p{
  margin-bottom: 20px;
}

.grid-thing{
  width: 80%;
}

.grid-thing{
  width: 75%;
  margin: auto;
  text-align: center;
}

.unos, .dos, .tres, .quatros{
  padding: 30px;
  border-bottom: 1px solid white;
}

.unos, .dos, .tres{
  border-right: 1px solid white;
}

.grid-box{
  margin-bottom: 10px;
}

.grid-box2 h2{
  font-size: 45px;
  margin-bottom: 10px;
  color: white;
}

.grid-box2 p{
  margin-bottom: 10px;
  color: white;
}

.row-2 .unos{
  border-bottom: none;
}

.row-2 .dos{
  border-bottom: none;
}
.row-2 .tres{
  border-bottom: none;
}
.row-2 .quatros{
  border-bottom: none;
}
